@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  background-color: #bcbdc5;
  background-image: url("./images/backgroundImage.compressed.jpg");
  background-size: 250vh;
}
