.container {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #272522;
  display: inline-block;
  border-radius: 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

.book_author {
  padding: 0.2rem;
  width: 70%;
}
.book_author p {
  font-size: 1.3rem;
  font-family: "Ubuntu", sans-serif;
  color: #989494;
}
.book_author h2 {
  font-size: 1.8rem;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.book_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book_buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.book_buttons svg {
  padding: 0 0.2rem 0 0.2rem;
}
.book_buttons svg:hover {
  transform: scale(1.1);
}
