.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 7rem);
  padding: 0 10rem 0 10rem;
}

.filter_section {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #27252299;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter_section select {
  padding: 0.2rem 0rem 0.2rem 0.5rem;
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  color: #3f3d3b;
  width: 15rem;
}
.filter_section option {
  padding: 0.2rem 0rem 0.2rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  color: #272522;
}

.refresh_button {
  font-family: "Ubuntu", sans-serif;
  padding: 0.4rem 0rem 0.4rem 0.6rem;
  width: 10rem;
  border-radius: 1.2rem;
  background-color: #d43d1b;
  font-size: 1.5rem;
  font-weight: 900;
  border: 1px solid #272522;
  color: white;
  cursor: pointer;
}
.refresh_button:hover {
  background-color: #b14229;
}

.display_section {
  width: 100%;
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 850px) {
  .filter_section select {
    margin-right: 0;
    width: 10rem;
    font-size: 1.2rem;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  }
  .container {
    padding: 0 5rem 0 5rem;
  }
  .refresh_button {
    padding: 0.3rem 0rem 0.3rem 0rem;
    font-size: 1.4rem;
    width: 8rem;
  }
}
